/*! blogs start  */
.blogs {
    margin-bottom: 30px;
  }
  
  .blogs .blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  @media screen and (max-width: 960px) {
    .blogs .blog-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
  }
  @media screen and (max-width: 660px) {
    .blogs .blog-list {
      display: grid;
      grid-template-columns: 1fr;
      
    }
    
  }

  /*! blogs end  */